@import '../../helper/config.scss';
@import '../../helper/buttonclick.scss';
@import '../../helper/loading.scss';

$move-time: 0.2s;
$tag-list: (
  '': 18,
  '-lg': 22,
  '-sm': 14,
);
$margin-right: (
  '': 8,
  '-lg': 8,
  '-sm': 8,
);
$loading-padding-right: (
  '': 29,
  '-lg': 29,
  '-sm': 21,
);
$loading-right: (
  '': 10,
  '-lg': 16,
  '-sm': 8,
);

.w-checktag {
  border: 1px solid $normal-bg;
  color: $text-color-light;
  padding: 0 8px;
  white-space: nowrap;
  background: $normal-bg;
  transition: background $move-time, border-color $move-time, color $move-time;
  cursor: pointer;
  font-family: $family;
  border-radius: 4px;
  font-size: 12px;

  &-inline {
    display: inline-block;
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;
  }

  &-active {
    border: 1px solid $blue-6;
    background: $blue-6;
    color: $normal-color;

    & .w-checktag-disabled {
      color: $normal-color;
      cursor: not-allowed;
    }
  }

  // 循环尺寸
  @each $size, $value in $tag-list {
    &#{$size} {
      height: $value + px;
      line-height: $value + px;
      margin-right: map-get(
        $margin-right,
        $size
      ) + px;

      @if $size == '-sm' {
        padding: 0 8px;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &-loading {
    @extend .w-loading;

    opacity: 0.5;
    pointer-events: none;
    position: relative;

    &::before {
      width: 10px;
      height: 10px;
      top: 50%;
      margin: -5px 0 0;
    }

    // 循环尺寸
    @each $size, $value in $loading-padding-right {
      &#{$size} {
        padding-right: $value + px;

        &::before {
          right: map-get(
            $loading-right,
            $size
          ) + px;
        }
      }
    }
  }
}
