@import '../../helper/config.scss';
@import '../../helper/buttonclick.scss';

$tag-list: (
  '': 20,
  '-lg': 24,
  '-sm': 16,
);

.w-newtag {
  box-sizing: border-box;
  margin: 0;
  color: $text-color-light;
  font-family: $family;
  font-size: 12px;
  line-height: 18px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  height: auto;
  padding: 0 8px;
  white-space: nowrap;
  background: $white;
  border: 1px dashed $normal-border;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  &-block {
    display: block;
  }

  // 循环尺寸
  @each $size, $value in $tag-list {
    &#{$size} {
      height: $value + px;
      line-height: ($value - 2) + px;
    }
  }

  &-click {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px;
      border-radius: inherit;
      border: 1px solid;
      border-color: inherit;
      opacity: 0.4;
      animation: 'buttonBig' 0.4s;
    }
  }

  &-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: relative;
    margin-right: 8px;

    &::before,
    &::after {
      background: $text-color-light;
      border-radius: 50%;
      content: '';
      position: absolute;
    }

    &::before {
      width: 8px;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      width: 2px;
      height: 8px;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  } // w-newtag-icon

  &-input {
    font-size: 0;
    display: inline-block;

    // 循环尺寸
    @each $size, $value in $tag-list {
      &#{$size} {
        & .w-input {
          height: $value + px;
          line-height: ($value - 2) + px;
        }
      }
    }

    & .w-input {
      padding: 0 28px 0 8px;
    }

    &-loading .w-input {
      padding: 0 8px;
    }
  }
}
