.layout {
  height: 100%;

  &-header {
    height: 64px;
    border: 1px solid #f0f1f2;
  }

  &-title {
    line-height: 64px;
    height: 64px;
    font-size: 30px;
    padding-left: 24px;
  }

  &-body {
    display: flex;
    height: calc(100% - 64px);
  }

  &-side {
    width: 240px;
  }

  &-main {
    width: calc(100% - 210px);
    overflow: auto;
    height: 100%;
  }
}
