@import '../../helper/config.scss';
@import '../icon/icon.scss';

$placehoder-color: rgba(0, 0, 0, 0.25);
$disabled-color: rgba(0, 0, 0, 0.25);

.w-input {
  &::-webkit-input-placeholder {
    color: $placehoder-color;
    font-size: 12px;
    line-height: 1;
  }

  &::-moz-placeholder {
    color: $placehoder-color;
    font-size: 12px;
    line-height: 1;
  }

  &:-ms-input-placeholder {
    color: $placehoder-color;
    font-size: 12px;
    line-height: 1;
  }

  &:-moz-placeholder {
    color: $placehoder-color;
    font-size: 12px;
    line-height: 1;
  }

  font-family: $family;
  font-variant: tabular-nums;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 8px;
  width: 100%;
  height: 28px;
  font-size: 12px;
  line-height: 1.5;
  color: $text-color;
  background-color: $normal-bg;
  background-image: none;
  border: 1px solid $normal-border;
  border-radius: 4px;
  transition: all 0.3s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }

  &:focus,
  &:hover {
    border-color: $blue-5;
    box-shadow: 0 0 0 2px rgba(27, 161, 254, 0.2);
    border-right-width: 1px !important;
  }

  &-large {
    padding: 10px 8px;
    height: 32px;
  }

  &-small {
    padding: 6px 8px;
    height: 24px;
  }

  &-error {
    border-color: $red-5;
    box-shadow: 0 0 0 2px rgba(255, 0, 68, 0.2);

    &:focus,
    &:hover {
      border-color: $red-5;
      box-shadow: 0 0 0 2px rgba(255, 0, 68, 0.2);
    }

    &.w-input-disabled {
      border-color: $normal-border;
      box-shadow: none;
    }
  }

  &-disabled {
    background-color: $disabled-bg;
    cursor: not-allowed;
    color: $disabled-color;
    border: 1px solid $disabled-border;

    &:focus,
    &:hover {
      border-color: $normal-border;
      box-shadow: none;
    }
  }

  // slot start

  &-wraper {
    position: relative;

    &-prefix,
    &-suffix {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      & .w-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 12px;
        height: 12px;

        & img,
        & svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    &-prefix {
      left: 8px;
    }

    &-suffix {
      right: 8px;
    }
  }

  &-slot {
    &-suffix {
      padding-right: 28px;
    }

    &-prefix {
      padding-left: 28px;
    }
  }
  // slot end
}
