@import '../../style/config.scss';

$spin-size: ('': 20, '-lg': 32, '-sm': 14);
$spin-tip-size: ('': 14, '-lg': 16, '-sm': 12);
$spin-tip-space: ('': 8, '-lg': 12, '-sm': 4);
$move-time: 0.4s;

.w-spin {
  position: relative;
  transform-origin: center;

  &-icon {
    color: $blue-6;
    display: inline-block;

    // 循环尺寸
    @each $size, $value in $spin-size {
      &#{$size} {
        font-size: $value + px;
      }
    }
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  &-tip {
    margin: 0;
    color: $blue-6;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    font-family: $family;
    text-align: center;

    // 循环尺寸
    @each $size, $value in $spin-size {
      &#{$size} {
        font-size: map-get($spin-tip-size, $size) + px;
        padding-top: map-get($spin-tip-space, $size) + px;
      }
    }
  }

  &-box {
    transition: opacity $move-time, filter $move-time, color $move-time;

    &-active {
      opacity: 0.5;
      filter: blur(0.5px);
      filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1,MakeShadow\=false);
    }
  }
}
