/** @format */

@import '../../../helper/picker.scss';

.w-timepicker {
  position: relative;

  &-footer {
    border-top: 1px solid $normal-border;
    font-size: 0;
    padding: 8px;
    text-align: right;
  }

  &-btn {
    margin-left: 8px;
  }
}
