@import '../../../helper/config.scss';

.w-timelist {
  &-list {
    overflow: hidden;
    height: 250px;
    border-right: 1px solid $normal-border;

    &-1 {
      width: 100%;
    }

    &-2 {
      width: 50%;
    }

    &-3 {
      width: 33.3%;
    }

    &:last-child {
      border: none;
    }
  }

  &-inner {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    color: $text-color;
    text-align: center;
    cursor: pointer;

    &::after {
      display: block;
      height: 226px;
      content: '';
    }
  }

  &-lattice {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    color: $text-color;
    text-align: center;

    &:focus {
      outline: none;
    }

    &:hover {
      background: $blue-5;
    }

    &-disabled {
      color: $disabled-color;
      cursor: not-allowed;

      &:hover {
        background: $white;
      }
    }
  }

  &-active {
    background: $time-picker-active;
  }
}
