@import '../../style/config.scss';
@import '../../style/mixin/placeholder.scss';

.w-input {
  @include placeholder(color, rgba(0, 0, 0, 0.25));

  font-family: $family;
  font-variant: tabular-nums;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid $normal-border;
  border-radius: 4px;
  transition: all 0.3s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }

  &:focus,
  &:hover {
    border-color: $blue-5;
    border-right-width: 1px!important;
  }

  &-lg {
    padding: 6px 12px;
    height: 40px;
    font-size: 16px;
  }

  &-sm {
    padding: 1px 4px;
    height: 24px;
  }

  &-disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
  }

  // slot start

  &-wraper {
    position: relative;

    &-prefix,
    &-suffix {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      & .w-font {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-prefix {
      left: 8px;

      &-lg {
        left: 12px;

        & .w-font {
          font-size: 16px;
        }
      }

      &-sm {
        left: 4px;
        width: 12px;
        height: 12px;

        & .w-font {
          top: 1px;
          font-size: 12px;
        }
      }
    }

    &-suffix {
      right: 8px;

      &-lg {
        right: 12px;

        & .w-font {
          font-size: 16px;
        }
      }

      &-sm {
        right: 4px;
        width: 12px;
        height: 12px;

        & .w-font {
          top: 1px;
          font-size: 12px;
        }
      }
    }
  }

  &-slot {
    &-suffix {
      padding-right: 28px;

      &-lg {
        padding-right: 36px;
      }

      &-sm {
        padding-right: 22px;
        font-size: 12px;
      }
    }

    &-prefix {
      padding-left: 28px;

      &-lg {
        padding-left: 36px;
      }

      &-sm {
        padding-left: 22px;
        font-size: 12px;
      }
    }
  }
}
