out
*.iml
.idea
.ipr
.iws
*.diff
.tags*
*.patch
*.bak
.DS_Store
node_modules/
.project
.settings
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.ini
yarn-error.log
.vscode
$Recycle.Bin
dist
.cache*
coverage
