.DS_Store
node_modules
/dist
**/dist
/site
/coverage
**/coverage

# local env files
.env.local
.env.*.local

# Log files
**/*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# depoly
lab.sh
