@import '../../helper/config.scss';
@import '../../helper/fade.scss';

.home {
  overflow: hidden;
  height: 100vh;

  &-lottie {
    background-color: #fff;
    width: 100vw;
    height: auto;
    display: block;
    overflow: hidden;
    transform: translate3d(
      0,
      0,
      0
    );
    text-align: center;
    opacity: 1;
  }

  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
  }

  &-icon {
    width: 12.7vw;
    padding: 2.6vw 0 0 5.35vw;
    margin: 0;
  }

  &-logo {
    display: block;
    width: 100%;
  }

  &-core {
    position: fixed;
    left: 5.35vw;
    top: 20vw;
  }

  &-title {
    margin: 0;
    font-family: $family;
    font-size: 2.2vw;
    color: $text-color;
    line-height: 1;
    padding-bottom: 5.5vw;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 3vw;
      left: 0;
      height: 4px;
      overflow: hidden;
      width: 3.4vw;
      background: $blue-6;
    }
  }

  &-desc {
    margin: 0;
    font-family: $family;
    color: $text-color;
    line-height: 1.4;
    font-size: 1.8vw;
    padding-bottom: 4.4vw;
  }

  &-btn {
    margin-right: 1vw;
    width: 14vw;
    max-width: 158px;
    padding: 0.6vw 0;
    height: auto;

    & .w-btn-text {
      font-size: 1.2vw;
      line-height: 1;
    }

    & i,
    & svg {
      width: 1.2vw !important;
      height: 1.2vw !important;
    }
  }

  &-anim-enter-active,
  &-anim-leave-active {
    transition: opacity 0.5s, padding 0.5s;
  }

  &-anim-enter,
  &-anim-leave-to {
    opacity: 0;
    padding-top: 10px;
  }
}
