@import '../../helper/config.scss';
@import '../icon/icon.scss';
@import './mixin.scss';

$danger-border-color: #ff93af;
$danger-bg-color: #ffe5ec;

$prefix: 'w-';
$button-list: ('': 28, '-large': 32, '-small': 24);
$button-icon: ('': 12, '-large': 16, '-small': 12);
$button-icon-padding: ('': 8, '-large': 8, '-small': 6);
$button-font: ('': 12, '-large': 12, '-small': 12);
$button-text-margin: ('': 8, '-large': 8, '-small': 4);

.#{$prefix}btn {
  box-sizing: border-box;
  font-family: $family;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: $border-radius-base;
  border: 1px solid transparent;
  background: $blue-6;
  border-color: $blue-6;
  color: $normal-color;
  transition: all 0.3s ease;
  outline: none;
  // 用户是否可选择文本
  user-select: none;
  // 浏览器只允许进行滚动和持续缩放操作
  touch-action: manipulation;
  // 文本不换行
  white-space: nowrap;
  font-size: 0;

  &-text {
    display: inline-block;
    vertical-align: middle;
    // 循环尺寸
    @each $size, $value in $button-text-margin {
      &-icon#{$size} {
        margin-left: $value + px;
      }
    }
  }

  &:focus,
  &:hover {
    border-color: $blue-5;
    background: $blue-5;
    color: $normal-color;
  }

  &-info {
    background: $normal-bg;
    color: $blue-6;
    border-color: $blue-6;

    &:focus,
    &:hover {
      background: $normal-bg;
      border-color: $blue-5;
      color: $blue-5;
    }
  }

  &-border {
    @extend .#{$prefix}btn-info;

    border-color: $normal-border;
    color: $text-color;
  }

  &-dashed {
    @extend .#{$prefix}btn-info;

    border-style: dashed;
  }

  &-danger {
    background: $danger-bg-color;
    color: $red-6;
    border-color: $danger-border-color;

    &:focus {
      color: $red-6;
      background: $danger-bg-color;
      border-color: $red-7;
    }

    &:hover {
      background: $red-5;
      color: $normal-color;
      border-color: $red-5;
    }
  }
  // 循环尺寸
  @each $size, $value in $button-list {
    &#{$size},
    &-wrap#{$size} {
      height: $value + px;

      & > .w-icon,
      & > .w-icon img,
      & > .w-icon svg {
        display: inline-block;
        width: map-get($button-icon, $size) + px;
        height: map-get($button-icon, $size) + px;
      }

      & > .#{$prefix}btn-text {
        font-size: map-get($button-font, $size) + px;
        line-height: ($value - 2) + px;
      }
    }

    &-icon#{$size} {
      padding: 0 map-get($button-icon-padding, $size) + px;
    }
  }

  &-loading {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      cursor: not-allowed;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      background: $normal-bg;
      border-radius: inherit;
      opacity: 0.5;
    }

    &:focus,
    &:hover {
      background: $blue-6;
      border-color: $blue-6;
      color: $normal-color;
    }

    &.#{$prefix}btn-info:focus,
    &.#{$prefix}btn-info:hover,
    &.#{$prefix}btn-dashed:focus,
    &.#{$prefix}btn-dashed:hover {
      background: $normal-bg;
      color: $blue-6;
      border-color: $blue-6;
    }

    &.#{$prefix}btn-border:focus,
    &.#{$prefix}btn-border:hover {
      background: $normal-bg;
      border-color: $normal-border;
      color: $text-color;
    }

    &.#{$prefix}btn-danger:focus,
    &.#{$prefix}btn-danger:hover {
      background: $danger-bg-color;
      color: $red-6;
      border-color: $danger-border-color;
    }
  }

  &-click {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px;
      border-radius: inherit;
      border: 1px solid;
      border-color: inherit;
      opacity: 0.4;
      animation: 'buttonBig' 0.2s;
    }
  }

  &-ghost {
    background: none;
    color: $blue-6;

    &:hover,
    &:focus {
      background: none;
    }

    &.#{$prefix}btn-border {
      color: $text-color;
    }

    &.#{$prefix}btn-danger {
      color: $red-6;
    }

    &,
    &.#{$prefix}btn-border,
    &.#{$prefix}btn-info,
    &.#{$prefix}btn-dashed {
      &:focus,
      &:hover {
        border-color: $blue-5;
        color: $blue-5;
      }
    }

    &.#{$prefix}btn-danger {
      &:focus,
      &:hover {
        border-color: $red-5;
        color: $red-5;
      }
    }

    &.#{$prefix}btn-disabled {
      background: none;
      color: $disabled-color;

      &:hover,
      &:focus {
        background: none;
        color: $disabled-color;
        border-color: $disabled-border;
      }
    }
  }

  &-disabled {
    background: $disabled-bg;
    color: $disabled-color;
    border-color: $disabled-border;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background: $disabled-bg;
      color: $disabled-color;
      border-color: $disabled-border;
    }
  }

  &-wrap {
    @extend .#{$prefix}btn;

    border-left-width: 0;
    border-right-color: $blue-5;
    border-radius: 0;

    &:last-child {
      border-right-color: none;
    }

    &:hover,
    &:focus {
      box-shadow: -1px 0 0 0 #1890ff;
    }

    &-border {
      @extend .#{$prefix}btn-border;

      border-right-color: $normal-border;

      &:first-child {
        &:focus {
          box-shadow: none;
        }
      }
    }

    &-info {
      @extend .#{$prefix}btn-info;

      &:focus {
        box-shadow: none;
      }
    }

    &-danger {
      @extend .#{$prefix}btn-danger;

      border-right-color: $danger-border-color;

      &:hover {
        box-shadow: -1px 0 0 0 $red-5;
      }

      &:focus {
        box-shadow: -1px 0 0 0 $red-5;
      }

      &:first-child {
        &:focus {
          box-shadow: none;
        }
      }
    }

    &-loading {
      @extend .#{$prefix}btn-loading;
    }

    &-click {
      @extend .#{$prefix}btn-click;
    }

    &-disabled {
      @extend .#{$prefix}btn-disabled;
    }

    &:first-child {
      border-left-width: 1px;
      border-radius: 4px 0 0 4px;

      &:hover {
        box-shadow: none;
      }
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &-on,
    &:active {
      border-color: $blue-7;
      box-shadow: -1px 0 0 0 $blue-7;
      background: $blue-7;

      &.#{$prefix}btn-border,
      &.#{$prefix}btn-info {
        border-color: $blue-7;
        box-shadow: -1px 0 0 0 $blue-7;
        background: $normal-bg;
        color: $blue-7;;
      }

      &.#{$prefix}btn-danger {
        border-color: $red-7;
        box-shadow: -1px 0 0 0 $red-7;
        background: $red-7;
        color: $normal-color;
      }

      &:first-child {
        box-shadow: none;
      }
    }
  } // w-btn-wrap end

  &-group {
    font-size: 0;
  }
}
