@import '../../style/mixin/loading.scss';
@import '../../style/mixin/arrow.scss';
@import '../../checkbox/style/checkbox.scss';

.w-tree {
  margin: 0;
  padding: 0;

  &-node {
    font-size: 0;
    padding: 4px 0;
  }

  &-loading {
    @extend .w-loading;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;

    &::before {
      width: 12px;
      height: 12px;
      top: 0;
      right: 0;
    }
  }

  &-noop {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
  }

  &-arrow {
    position: relative;
    cursor: pointer;

    &::before {
      @extend .w-arrow;

      content: '';
      transform: translateY(-50%) rotate(-45deg);
      border-color: $blue-6;
      right: 22%;
      top: 50%;
    }

    &-active {
      &::before {
        top: 36%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  &-checkbox {
    margin: 0 8px;
  }

  &-child {
    padding: 4px 0 0 20px;
    display: none;

    &-show {
      display: block;
    }
  }
}
