@import '../../style/config.scss';
@import '../../style/mixin/circle.scss';
@import '../../style/mixin/radioactive.scss';
@import '../../style/mixin/radiobig.scss';

$radio-move-time: 0.5s;

.w-radio {
  font-family: $family;
  font-size: 0;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 8px;

  &-vertical {
    line-height: 22px;
  }

  &-input {
    display: none;
  }

  &-status {
    width: 14px;
    height: 14px;
    border: 1px solid $normal-border;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    transition: border 0.4s;

    &::before {
      content: ' ';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      left: -1px;
    }

    &-loading {
      opacity: 0.4;
      pointer-events: none;
      position: relative;

      &::before {
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border-top: 1px solid $blue-6;
        position: absolute;
        left: 3px;
        top: 3px;
        z-index: 2;
        animation: 'circle' 1s infinite linear;
        transition: left $radio-move-time, margin $radio-move-time;
      }
    }
  }

  &-inner {
    width: 8px;
    height: 8px;
    background: $blue-6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    transform: scale(0);
    transform-origin: center center;
  }

  &-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    padding: 0 8px;
  }

  &:hover {
    & .w-radio-status {
      border: 1px solid $blue-6;
    }
  }

  &-click {
    & .w-radio-status::before {
      animation: 'radioBig' 0.4s;
    }
  }

  &-on {
    & .w-radio-status::before {
      border: 1px solid $blue-6;
    }

    & .w-radio-inner {
      animation: 'radioActive' 0.4s forwards;
    }
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;

    &:hover {
      & .w-radio-status {
        border: 1px solid $disabled-border;
      }
    }

    & .w-radio-status-disabled {
      background-color: $disabled-bg-light;

      &::before {
        border-color: $disabled-border;
      }
    }

    & .w-radio-inner-disabled {
      background-color: $disabled-bg-dark;
    }
  }
}
