@import '../../style/config.scss';
@import '../../style/mixin/col.scss';

.#{$prefix}col {
  float: left;
  flex: 0 0 auto;

  &-0 {
    display: none;
  }

  // 循环栅格
  @for $i from 1 through $gridColumns {
    // 栅格公式
    $percentage: (100 / (($gridColumns / $i)) / 100);

    @include colMixin($percentage, $i);

    @media (max-width: $screen-xs) {
      @include colMixin($percentage, $i, '-xs');
    }

    @media (min-width: $screen-sm) {
      @include colMixin($percentage, $i, '-sm');
    }

    @media (min-width: $screen-md) {
      @include colMixin($percentage, $i, '-md');
    }

    @media (min-width: $screen-lg) {
      @include colMixin($percentage, $i, '-lg');
    }

    @media (min-width: $screen-xl) {
      @include colMixin($percentage, $i, '-xl');
    }

    @media (min-width: $screen-xxl) {
      @include colMixin($percentage, $i, '-xxl');
    }
  }
}
