/** @format */

@mixin colMixin($percentage, $i, $size: '') {
  &-#{$i}-#{$size} {
    display: block;
    position: relative;
    width: percentage($percentage);
  }
}

@mixin colPositionMixin($percentage, $i) {
  &-#{$i} {
    display: block;
    position: relative;

    &-span {
      width: percentage($percentage);
      position: relative;
    }

    &-offset {
      margin-left: percentage($percentage);
    }

    &-push {
      left: percentage($percentage);
    }

    &-pull {
      right: percentage($percentage);
    }

    &-order {
      order: $i;
    }
  }
}

@mixin clearfix($legacy-support-for-ie: false) {
  @if $legacy-support-for-ie {
    *zoom: 1;
  }

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
    overflow: hidden;
  }
}
