@mixin colMixin($percentage, $i, $size: '') {
  &#{$size}-#{$i} {
    display: block;
    position: relative;
    width: percentage($percentage);
  }

  &#{$size}-offset-#{$i} {
    margin-left: percentage($percentage);
  }

  &#{$size}-push-#{$i} {
    right: percentage($percentage);
  }

  &#{$size}-pull-#{$i} {
    left: percentage($percentage);
  }

  &#{$size}-order-#{$i} {
    order: $i;
  }
}
