@import './circle.scss';
@import '../config.scss';

.w-loading {
  &::before {
    content: ' ';
    border-radius: 50%;
    border-top: 1px solid $loading-color;
    position: absolute;
    z-index: 2;
    animation: 'circle' 1s infinite linear;
    transition: left 0.5s, margin 0.5s;
  }
}
