.w-yes {
  &::before {
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    margin: -5px 0 0 -2.5px;
    display: table;
    width: 5.8px;
    height: 9.2px;
    border: 2px solid #f4f4f4;
    border-top: 0;
    border-left: 0;
    content: ' ';
    transition: all 0.2s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  }
}
