@import '../../../helper/config.scss';

$move-time: 0.3s;

.w-input-number {
  width: 90px;
  height: 28px;
  border: 1px solid $normal-border;
  border-radius: $border-radius-base;
  position: relative;
  display: inline-block;
  font-family: $family;
  box-sizing: border-box;
  padding: 0 8px;
  transition:
    border $move-time,
    padding $move-time,
    height $move-time,
    font-size $move-time;

  &-focus {
    box-shadow: 0 0 3px rgba(
      52,
      171,
      254,
      0.7
    );
    border: 1px solid $blue-5;
  }

  &-small {
    height: 24px;
  }

  &-large {
    height: 32px;
  }

  &:hover {
    padding: 0 33px 0 8px;
    border: 1px solid $blue-5;

    & .w-input-number-handle {
      opacity: 1;
    }
  }

  &-input {
    width: 100%;
    text-align: left;
    outline: 0;
    -moz-appearance: textfield;
    touch-action: manipulation;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0;
    height: 26px;
    transition: height $move-time;
    font-family: $family;
    font-size: 12px;
    color: $text-color;

    &-small {
      height: 22px;
    }

    &-large {
      height: 30px;
    }

    &-disabled {
      color: $disabled-color;
      cursor: not-allowed;
    } // w-number-disabled

    &-readonly {
      cursor: default;
    }
  }

  &-handle {
    width: 23px;
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity $move-time;
    background: #fff;
    border-left: 1px solid $normal-border;
    border-radius: 0 4px 4px 0;

    &:hover {
      & .w-input-number-arrow-up {
        height: 40%;
      }
    }
  }

  &-arrow {
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: height $move-time;
    display: block;
    font-weight: bold;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: ' ';
      width: 1px;
      height: 6px;
      position: absolute;
      left: 50%;
      background: $disabled-color;
    }

    &:active {
      background: #f4f4f4;
    }

    &-up {
      top: 0;
      border-radius: 0 4px 0 0;

      &::before,
      &::after {
        top: 50%;
        margin-top: -1px;
      }

      &::before {
        transform: rotate(43deg) translateX(-3px);
      }

      &::after {
        transform: rotate(-43deg) translateX(3px);
      }

      &:hover {
        height: 60% !important;
      }
    }

    &-down {
      bottom: 0;
      border-top: 1px solid $normal-border;
      border-radius: 0 0 4px;

      &::before,
      &::after {
        top: 50%;
        margin-top: -6px;
      }

      &::before {
        transform: rotate(43deg) translateX(3px);
      }

      &::after {
        transform: rotate(-43deg) translateX(-3px);
      }

      &:hover {
        height: 59%;
      }
    }

    &-disabled {
      cursor: not-allowed;
    }
  }

  &-disabled {
    background: $disabled-bg;
    cursor: not-allowed;

    & .w-input-number-handle {
      display: none;
    }

    &:hover {
      border: 1px solid $normal-border;
    }
  }
}
