@import '../../helper/config.scss';
@import '../../helper/fade.scss';
@import '../button/button.scss';

$prefix: w-popconfirm;

.#{$prefix} {
  font-family: $family;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: $text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1060;
  display: block;
  visibility: visible;
  max-width: 250px;

  &-main {
    background-color: $normal-bg;
    background-clip: padding-box;
    border-radius: $border-radius-base;
    box-shadow: 0 2px 8px $shadow;
    padding: 20px;
  }

  &-icon {
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px !important;
    height: 16px !important;

    & svg {
      width: 16px !important;
      height: 16px !important;
    }
  }

  &-buttons {
    text-align: right;
    font-size: 0;
  }

  &-button {
    margin-left: 8px;

    &:first-child {
      margin: 0;
    }
  }

  &-alert {
    display: inline-block;
    cursor: pointer;
  }

  &-core {
    position: relative;
    padding: 0 0 16px 24px;
    color: $text-color;
  }

  &-content {
    font-size: 14px;
    font-family: $family;
    letter-spacing: 0;
    line-height: 1.4;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    // 上下 start
    &-horbottom {
      top: 0;
      border-width: 0 5px 5px;
      border-bottom-color: $normal-bg;
    }

    &-hortop {
      bottom: 0;
      border-width: 5px 5px 0;
      border-top-color: $normal-bg;
    }

    &-vercenter {
      left: 50%;
      margin-left: -5px;
    }

    &-verendright {
      right: 16px;
    }

    &-verendleft {
      left: 16px;
    }
    // 上下 end
    &-horleft {
      right: 0;
      border-width: 5px 0 5px 5px;
      border-left-color: $normal-bg;
    }

    &-horright {
      left: 0;
      border-width: 5px 5px 5px 0;
      border-right-color: $normal-bg;
    }

    &-horcenter {
      top: 50%;
      margin-top: -5px;
    }

    &-horendtop {
      top: 12px;
    }

    &-horendbottom {
      bottom: 12px;
    }
  }

  &-horbottom {
    padding-top: 5px;
  }

  &-hortop {
    padding-bottom: 5px;
  }

  &-horleft {
    padding-right: 5px;
  }

  &-horright {
    padding-left: 5px;
  }
}
