/** @format */

@import '../../../helper/config.scss';

.w-calendar {
  & .w-datepicker {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;

    &-date {
      line-height: 28px;
    }

    &-group {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
    }
  }

  & .w-picker {
    box-shadow: none;
    border: none;
    width: 100%;

    &-header {
      display: none;
    }

    &-table {
      &-th {
        border: none;
        padding: 16px 0;
      }

      &-td {
        height: 120px;
        padding: 0 4px;
      }
    }

    &-date {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      text-align: right;
      border-radius: 0;
      border-top: 2px solid $normal-border;
      margin: 0 4px;
      padding: 4px 8px;
    }

    &-month,
    &-year,
    &-age {
      @extend .w-picker-date;

      text-align: right;
    }
  }

  &-date {
    font-family: $family;
    height: 18px;
    line-height: 18px;
    text-align: right;
  }
}
