@import '../../style/config.scss';
@import '../../style/mixin/circle.scss';
@import '../../style/mixin/loading.scss';

$switch-move-time: 0.5s;

.w-switch {
  height: 22px;
  min-width: 44px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  color: $normal-color;
  cursor: pointer;
  transition: color $switch-move-time, background-color $switch-move-time;

  &::after {
    content: ' ';
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    background: $normal-bg;
    left: 0;
    margin-left: 2px;
    top: 2px;
    transition: left $switch-move-time, margin $switch-move-time;
  }

  &-inner {
    margin: 0 8px 0 29px;
    display: inline-block;
    transition: margin $switch-move-time;
  }

  &-loading {
    @extend .w-loading;

    pointer-events: none;

    &::before {
      width: 12px;
      height: 12px;
      left: 5px;
      top: 5px;
    }
  }

  &-on {
    background: $blue-6;
    color: $normal-color;

    &-inner {
      margin: 0 29px 0 8px;
    }

    &::before {
      left: 100%;
      margin-left: -16px;
    }

    &::after {
      left: 100%;
      margin-left: -19px;
    }
  }

  &-small {
    line-height: 16px;
    height: 16px;
    min-width: 28px;

    &::after {
      width: 12px;
      height: 12px;
    }

    &-inner {
      margin: 0 4px 0 19px;
    }

    &-loading {
      &::before {
        width: 8px;
        height: 8px;
        left: 0;
        top: 4px;
        margin-left: 4px;
      }
    }

    &-on {
      background: $blue-6;
      color: $normal-color;

      &-inner {
        margin: 0 19px 0 4px;
      }

      &::before {
        left: 100%;
        margin-left: -12px;
      }

      &::after {
        left: 100%;
        margin-left: -14px;
      }
    }
  }

  &-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}
