@import '../../helper/config.scss';

.code-mirror {
  border: 1px solid $normal-border;
  border-radius: 4px;

  & .CodeMirror {
    border-radius: 4px;
  }
}

.code-auto {
  & .CodeMirror {
    height: auto;
  }
}