@import '../../helper/config.scss';

.w-empty {
  margin: 0 8px;
  text-align: center;

  &-box {
    height: 150px;
  }

  &-image {
    height: 100%;
  }

  &-text {
    font-family: $family;
    font-size: 12px;
    line-height: 1;
    color: $disabled-color;
    margin: 0;
  }
}