.w-arrow {
  width: 6px;
  height: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.45);
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-6px) rotate(45deg);
  transition: transform 0.4s;
  box-sizing: content-box;
}
