/** @format */

@import './config.scss';

$move-time: 0.3s;

.w-close {
  &:hover {
    &::before,
    &::after {
      background: rgba(0, 0, 0, 0.85);
    }
  }

  &::before,
  &::after {
    content: '';
    border-radius: 2px;
    background: #979797;
    transition: background $move-time;
    position: absolute;
    left: 4px;
    top: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
} // w-close end
