/** @format */

$family: Helvetica, 'PingFang SC', STHeiti, 'Microsoft YaHei', 微软雅黑, Verdana,
  Arial, Tahoma, STXihei, 华文细黑, MicrosoftYaHeiUI, sans-serif;

$white: #fff;

$normal-border: #dbdee9;
$normal-bg: $white;
$normal-color: $white;

// Dust Red / 薄暮
// 斗志、奔放
$red-5: #ff1a57;
$red-6: #f04;
$red-7: #cf1322;
// Volcano / 火山
// 醒目、澎湃
$volcano-6: #fa541c;
// Sunset Orange / 日暮
// 温暖、欢快
$orange-6: #fa8c16;
// Calendula Gold / 金盏花
// 活力、积极
$gold-6: #faad14;
// Sunrise Yellow / 日出
// 出生、阳光
$yellow-6: #fadb14;
// Lime / 青柠
// 自然、生机
$lime-6: #a0d911;
// Polar Green / 极光绿
// 健康、创新
$green-6: #52c41a;
// Cyan / 明青
// 希望、坚强
$cyan-6: #13c2c2;
// Daybreak Blue / 拂晓蓝
// 包容、科技、普惠
$blue-5: #34abfe;
$blue-6: #0297fe;
$blue-7: #1890ff;
// Geek Blue / 极客蓝
// 探索、钻研
$geekblue-6: #2f54eb;
// Golden Purple / 酱紫
// 优雅、浪漫
$purple-6: #722ed1;
// Magenta / 法式洋红
// 明快、感性
$magenta-6: #eb2f96;
//默认的灰色背景颜色
$base-bg: #f5f5f5;
// 灰色
$gray: #dcdcdc;
// 文字
$text-color: #292b2d;
$text-color-light: #60636c;
//不可用 颜色
$disabled-bg: #eff1f6;
$disabled-color: #b4bac3;
$disabled-border: #dbdee9;
// code 的样式
$code-bg: #f0f0f0;
// 圆角
$border-radius-base: 4px;
// 阴影
$shadow: rgba(0, 0, 0, 0.15);
// 遮罩颜色
$mask: rgba(0, 0, 0, 0.65);
// 分割线
$dividing: #eaeef5;
// 时间选择器选中的颜色
$time-picker-active: #f5f5f5;

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
