@import '../components/icon/circle.scss';
@import './config.scss';

$loading-color: rgba(0, 0, 0, 0.45);

.w-loading {
  &::before {
    content: ' ';
    border-radius: 50%;
    border-top: 1px solid $loading-color;
    position: absolute;
    z-index: 2;
    animation: 'circle' 1s infinite linear;
    transition: left 0.5s, margin 0.5s;
    border-right: none;
    border-bottom: none;
    border-color: $loading-color;
    margin: 0;
  }
}
