/** @format */

// ----------- Base Colors -----------
$blue-6: #1890ff !default;
$green-6: #52c41a !default;
$red-6: #f5222d !default;
$gold-6: #faad14 !default;
$gray-6: #bfbfbf !default;
$orange-6: #fa8c16 !default;

// ----------- Colors -----------
$primary-color: $blue-6 !default;
$info-color: $blue-6 !default;
$success-color: $green-6 !default;
$processing-color: $blue-6 !default;
$danger-color: $red-6 !default;

$highlight-color: $red-6 !default;
$warning-color: $gold-6 !default;

$white: #fff !default;
$black: #000 !default;
