@import '../../helper/config.scss';

$base-color: #b4bac3;
$last-color: #60636C;

.w-breadcrumb {
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  display: flex;
  font-family: $family;
  align-items: center;

  &-item {
    display: flex;
    align-items: center;
    color: $base-color;

    &-icon {
      width: 12px;
      height: 12px;
      padding-right: 8px;

      & img,
      & svg {
        font-size: 12px;
        width: 12px;
        height: 12px;
      }
    }

    &-link {
      cursor: pointer;
      color: $base-color !important;
      text-decoration: none !important;

      &:focus,
      &:hover {
        border-color: $blue-6 !important;
        color: $blue-6 !important;
        text-decoration: none !important;
      }

      &:active {
        border-color: $blue-7 !important;
        color: $blue-7 !important;
        text-decoration: none !important;
      }
    }

    &-separator {
      font-style: normal;
      padding: 0 8px;
    }

    &:last-child {
      color: $last-color;

      > .w-breadcrumb-item-separator {
        display: none;
      }
    }
  }
}
