@import '../../style/config.scss';
@import '../../style/mixin/buttonbig.scss';

$move-time: 0.5s;
$tag-list: ('': 32, '-lg': 40, '-sm': 24);
$tag-font: ('': 14, '-lg': 16, '-sm': 14);
$margin-right: ('': 8, '-lg': 16, '-sm': 8);
$border-radius: ('': 8, '-lg': 8, '-sm': 4);

.w-checktag {
  border: 1px solid $normal-bg;
  color: $text-color;
  padding: 0 16px;
  white-space: nowrap;
  background: $normal-bg;
  transition: background $move-time, border-color $move-time, color $move-time;
  cursor: pointer;
  font-family: $family;

  &-inline {
    display: inline-block;
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;
  }

  &-active {
    border: 1px solid $blue-6;
    background: $blue-6;
    color: $normal-color;

    & w-checktag-disabled {
      color: $normal-color;
      cursor: not-allowed;
    }
  }

  // 循环尺寸
  @each $size, $value in $tag-list {
    &#{$size} {
      height: $value + px;
      line-height: $value + px;
      font-size: map-get($tag-font, $size) + px;
      margin-right: map-get($margin-right, $size) + px;
      border-radius: map-get($border-radius, $size) + px;

      @if $size == '-sm' {
        padding: 0 8px;
      }
    }
  }
}
