@import '../../style/config.scss';
@import '../../button/style/button.scss';
@import '../../style/mixin/fade.scss';

$prefix: w-popconfirm;

.#{$prefix} {
  font-family: $family;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: $text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1060;
  display: block;
  visibility: visible;
  max-width: 250px;

  &-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &-main {
    background-color: $normal-bg;
    background-clip: padding-box;
    border-radius: $border-radius-base;
    box-shadow: 0 2px 8px $shadow;
    padding: 12px 16px;
  }

  &-content {
    padding: 4px 0 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    position: relative;
  }

  &-buttons {
    text-align: right;
    margin-bottom: 4px;
    font-size: 0;
  }

  &-button {
    margin-left: 8px;

    &:first-child {
      margin: 0;
    }
  }

  &-core {
    display: inline-block;
    cursor: pointer;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    // 上下 start
    &-horbottom {
      top: 0;
      border-width: 0 5px 5px;
      border-bottom-color: $normal-bg;
    }

    &-hortop {
      bottom: 0;
      border-width: 5px 5px 0;
      border-top-color: $normal-bg;
    }

    &-vercenter {
      left: 50%;
      margin-left: -5px;
    }

    &-verendright {
      right: 16px;
    }

    &-verendleft {
      left: 16px;
    }
    // 上下 end
    &-horleft {
      right: 0;
      border-width: 5px 0 5px 5px;
      border-left-color: $normal-bg;
    }

    &-horright {
      left: 0;
      border-width: 5px 5px 5px 0;
      border-right-color: $normal-bg;
    }

    &-horcenter {
      top: 50%;
      margin-top: -5px;
    }

    &-horendtop {
      top: 12px;
    }

    &-horendbottom {
      bottom: 12px;
    }
  }

  &-horbottom {
    padding-top: 5px;
  }

  &-hortop {
    padding-bottom: 5px;
  }

  &-horleft {
    padding-right: 5px;
  }

  &-horright {
    padding-left: 5px;
  }
}
