/** @format */

@import './circle.scss';

$size: 20px;

.w-icon {
  width: $size;
  height: $size;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;

  & svg,
  & img {
    width: $size;
    height: $size;
    display: block;
  }

  &-spin svg,
  &-spin img {
    animation: 'circle' 1s infinite linear;
  }
}
