.w-scroll {
  overflow: hidden;
  position: relative;

  &:focus,
  &:hover,
  &-active {
    & > .w-scroll-bar {
      opacity: 1;
    }
  }

  &-active {
    & .w-scroll-thumb-horizontal {
      height: 8px;
      margin-top: -2px;
    }

    & .w-scroll-thumb-vertical {
      width: 8px;
      margin-left: -2px;
    }
  }

  &-disabled {
    .w-scroll-bar {
      opacity: 0;
    }

    &:focus,
    &:hover {
      .w-scroll-bar {
        opacity: 0;
      }
    }
  }

  &-wrap {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  &-body {
    display: inline-block;

    &-vertical {
      width: 100%;
    }
  }

  &-bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.12s ease-out;
    cursor: pointer;
  }

  &-thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-radius: inherit;
    background-color: rgba(
      144,
      147,
      153,
      0.3
    );
    transition: background-color 0.3s, height 0.3s, width 0.3s, margin 0.3s;

    &-horizontal {
      height: 4px;

      &:hover {
        height: 8px;
        margin-top: -2px;
      }
    }

    &-vertical {
      width: 4px;

      &:hover {
        width: 8px;
        margin-left: -2px;
      }
    }
  }

  &-horizontal {
    height: 4px;
    left: 2px;
  }

  &-vertical {
    width: 4px;
    top: 2px;
  }

  &-spin {
    height: 100%;
    width: 100%;
  }
}
