@import '../../../helper/config.scss';
@import '../../../helper/loading.scss';
@import '../../../helper/ellipsis.scss';
// 选择
$option-hover-bg: #e6f7ff;
$option-active-bg: #fafafa;
$option-active-yes: $blue-6;
$option-hover-yes: #ddd;

$move-time: 0.4s;

.w-yes {
  &::before {
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    margin: -5px 0 0 -2.5px;
    display: table;
    width: 5.8px;
    height: 9.2px;
    border: 2px solid #f4f4f4;
    border-top: 0;
    border-left: 0;
    content: ' ';
    transition: all 0.2s cubic-bezier(
      0.71,
      -0.46,
      0.88,
      0.6
    ),
      opacity 0.1s;
  }
}

.w-option {
  font-family: $family;
  font-variant: tabular-nums;
  margin: 0;
  padding: 0;
  background-color: $normal-bg;
  box-shadow: 0 2px 8px $shadow;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // display: none;
  visibility: hidden;

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    outline: none;
  }

  &-scroll {
    height: 180px;
  }

  &-single {
    @extend .w-ellipsis;

    position: relative;
    display: block;
    padding: 8px;
    line-height: 12px;
    font-size: 12px;
    font-family: $family;
    font-weight: normal;
    cursor: pointer;
    transition: background-color $move-time;
    color: $text-color-light;
    margin: 0;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &-active {
      background-color: $option-active-bg;
      color: $text-color;
      font-family: 'PingFangSC-Medium';

      &:hover {
        background-color: $option-active-bg;
      }
    }

    &-hover,
    &:hover {
      background-color: $option-hover-bg;
    }
  } // w-option-single end

  &-empty {
    @extend .w-option-single;
    @extend .w-option-disabled;

    padding: 32px 0;
  } // w-option-empty end

  &-multiple {
    @extend .w-option-single;
    @extend .w-yes;

    position: relative;

    &::before {
      left: auto;
      right: 9px;
      border-color: $normal-bg;
    }

    &:hover {
      &::before {
        border-color: $option-hover-yes;
      }
    }

    &-active {
      @extend .w-option-single-active;

      &::before {
        border-color: $option-active-yes;
      }

      &:hover {
        &::before {
          border-color: $option-active-yes;
        }
      }
    }

    &-hover,
    &:hover {
      background-color: $option-hover-bg;
    }
  } // w-option-multiple end

  &-tag {
    @extend .w-option-multiple;

    &-active {
      @extend .w-option-multiple-active;
    }

    &-hover,
    &:hover {
      @extend .w-option-multiple-hover;
    }
  }

  &-cascader {
    @extend .w-option-single;

    &::before {
      position: absolute;
      right: 14px;
      top: 50%;
      content: ' ';
      width: 6px;
      height: 6px;
      border-top: 1px solid $disabled-color;
      border-right: 1px solid $disabled-color;
      transform: translateY(-50%) rotate(45deg);
    }

    &-active {
      @extend .w-option-single-active;
    }
  } // w-option-cascader end

  &-loading {
    @extend .w-loading;

    &::before {
      width: 12px;
      height: 12px;
      top: 9px;
      right: 12px;
    }
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;

    &::before {
      opacity: 0;
    }

    &:hover {
      background: $normal-bg;
    }

    &.w-option-single-active {
      color: $text-color;

      &:hover {
        background: $option-active-bg;
      }

      &::before {
        opacity: 1;
      }
    }
  } // w-option-disabled end

  &-show {
    // transform: translateY(0);
    // opacity: 1;

    // display: block;
    visibility: visible;
  } // w-option-show end
}
