@import '../../style/mixin/circle.scss';

$font-prefix: 'w-' !default;

.#{$font-prefix}font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  width: 16px;
  height: 16px;
}

.#{$font-prefix}spin svg,
.#{$font-prefix}spin img {
  animation: 'circle' 1s infinite linear;
}
