@import '../../helper/config.scss';
@import '../../helper/fade.scss';

$move-time: 0.3s;

.w-modal {
  width: 483px;
  position: relative;
  background: $normal-bg;
  border-radius: $border-radius-base;
  margin: 20px auto;
  box-shadow: 0 4px 12px $shadow;

  &-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  &-mask {
    background: $mask;
  }

  &-header {
    font-family: $family;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 1;
    border-radius: 4px 4px 0 0;
    background: $normal-bg;
    color: $text-color;
    border-bottom: 1px solid $dividing;
  }

  &-close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 14px;
    cursor: pointer;

    &:hover {
      &::before,
      &::after {
        background: rgba(0, 0, 0, 0.85);
      }
    }

    &::before,
    &::after {
      content: '';
      width: 2px;
      height: 16px;
      border-radius: 2px;
      background: #ccc;
      transition: background $move-time;
      position: absolute;
      left: 7px;
      top: 1px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  } // close end

  &-body {
    padding: 24px;
    font-size: 12px;
    line-height: 1.5;
    color: #60636C;
    word-wrap: break-word;
  }

  &-footer {
    border-top: 1px solid $dividing;
    padding: 12px 24px;
    text-align: right;
    border-radius: 0 0 4px 4px;
    font-size: 0;
  }

  &-button {
    margin-left: 8px;

    &:first-child {
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .w-modal {
    width: auto !important;
    margin: 10px;
  }
}

.w-confirm {
  position: absolute;

  & .w-modal-body {
    padding: 24px 24px 0;
  }
  & .w-modal-footer {
    border-top: none;
    padding: 20px 24px;
  }

  &-icon {
    position: absolute;
    left: 24px;
    top: 24px;
  }

  &-title,
  &-content {
    font-family: $family;
    padding-left: 32px;
  }

  &-title {
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 8px;
  }

  &-content {
    color: $text-color-light;
    font-size: 12px;
    line-height: 18px;
  }
}
