/** @format */

@import '../../../helper/config.scss';
@import '../../../helper/loading.scss';

$radio-move-time: 0.3s;

.w-radio {
  font-family: $family;
  font-size: 0;
  color: $text-color;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &-input {
    display: none;
  }

  &-status {
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    border: 1px solid $normal-border;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    transition: border $radio-move-time;

    &::before {
      content: ' ';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      left: -1px;
    }

    &-loading {
      @extend .w-loading;

      &::before {
        width: 6px;
        height: 6px;
        left: 3px;
        top: 3px;
        border-right: none;
        border-bottom: none;
        border-color: $loading-color;
        margin: 0;
      }
    }

    &-on {
      border-color: $blue-6;
    }

    &-disabled {
      background-color: $disabled-bg;
      border-color: $disabled-border !important;
    }
  }

  &-inner {
    width: 8px;
    height: 8px;
    background: $blue-6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    transform: scale(0);
    opacity: 0;
    transition: transform $radio-move-time, opacity $radio-move-time;
    transform-origin: center center;

    &-on {
      transform: scale(1);
      opacity: 1;
    }

    &-disabled {
      background-color: $disabled-border !important;
    }
  }

  &-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    padding: 0 8px;
  }

  &:hover {
    & .w-radio-status {
      border: 1px solid $blue-6;
    }
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;

    &:hover {
      & .w-radio-status {
        border: 1px solid $disabled-border;
      }
    }
  }
}
