$border-radius-base: 4px;
$border-radius-sm: 2px;

$family: Helvetica, "PingFang SC", STHeiti, "Microsoft YaHei", 微软雅黑, Verdana,Arial, Tahoma, STXihei, 华文细黑, MicrosoftYaHeiUI, sans-serif;

$normal-border: #d9d9d9;
$normal-bg: #fff;
$normal-color: #fff;
// 屏幕设置
$screen-xs: 576px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
// 栅格设置
$gridColumns: 24 !default;

$prefix: 'w-';

// Dust Red / 薄暮
// 斗志、奔放
$red-5: #ff4d4f;
$red-6: #f5222d;
$red-7: #cf1322;
// Volcano / 火山
// 醒目、澎湃
$volcano-6: #fa541c;
// Sunset Orange / 日暮
// 温暖、欢快
$orange-6: #fa8c16;
// Calendula Gold / 金盏花
// 活力、积极
$gold-6: #faad14;
// Sunrise Yellow / 日出
// 出生、阳光
$yellow-6: #fadb14;
// Lime / 青柠
// 自然、生机
$lime-6: #a0d911;
// Polar Green / 极光绿
// 健康、创新
$green-6: #52c41a;
// Cyan / 明青
// 希望、坚强
$cyan-6: #13c2c2;
// Daybreak Blue / 拂晓蓝
// 包容、科技、普惠
$blue-5: #40a9ff;
$blue-6: #1890ff;
$blue-7: #096dd9;
// Geek Blue / 极客蓝
// 探索、钻研
$geekblue-6: #2f54eb;
// Golden Purple / 酱紫
// 优雅、浪漫
$purple-6: #722ed1;
// Magenta / 法式洋红
// 明快、感性
$magenta-6: #eb2f96;
//默认的灰色背景颜色
$base-bg: #f5f5f5;
//不可用 颜色
$disabled-bg: rgba(0, 0, 0, 0.04);
$disabled-bg-light: #f5f5f5;
$disabled-bg-dark: #ccc;
$disabled-color: rgba(0, 0, 0, 0.25);
$disabled-arrow: rgba(0, 0, 0, 0.15);
$disabled-border: $normal-border;
// 文字
$text-color: rgba(0, 0, 0, 0.65);
$text-color-secondary: rgba(0, 0, 0, 0.45);
// 面包屑
$breadcrumb-base-color: $text-color-secondary;
$breadcrumb-hover-color: $blue-5;
$breadcrumb-on-color: $text-color;
// 评分
$rate-base-color: #e8e8e8;
// 气泡卡片
$popover-border: #e8e8e8;
// 遮罩颜色
$mask: rgba(0, 0, 0, 0.65);
// border
$border-color: rgba(0, 0, 0, 0.45);
// loading
$loading-color: rgba(0, 0, 0, 0.45);
// 遮罩的颜色
$shadow: rgba(0, 0, 0, 0.15);
// 对话框边框颜色
$modal-border-color: #e8e8e8;
// 选择
$option-hover-bg: #e6f7ff;
$option-active-bg: #fafafa;
$option-active-yes: $blue-6;
$option-hover-yes: #ddd;
$select-search-placeholder: #ccc;
