@import '../../helper/config.scss';

$checkbox-move-time: 0.5s;

.w-checkbox {
  font-family: $family;
  font-size: 0;
  color: $text-color;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    & .w-checkbox-status {
      border-color: $blue-5;
    }
    & .w-checkbox-on {
      border-color: $blue-7;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &-disabled {
    cursor: not-allowed;
  }

  &-input {
    display: none;
    padding: 0;
    margin: 0;
    appearance: none;
    width: 100%;
    height: 100%;
  }

  &-status {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    border: 1px solid $normal-border;
    border-radius: 4px;
    background-color: $normal-bg;
    transition: background-color 0.3s, border-color 0.3s;

    &::after {
      transform: rotate(45deg) scale(0);
      position: absolute;
      left: 50%;
      top: 50%;
      box-sizing: border-box;
      margin: -5px 0 0 -2.5px;
      display: table;
      width: 5.8px;
      height: 9.2px;
      border: 2px solid $white;
      border-top: 0;
      border-left: 0;
      content: ' ';
      transition: all 0.2s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
      opacity: 0;
    }

    &-disabled {
      border-color: $normal-border !important;
      background-color: $disabled-bg !important;

      &::after {
        border-color: $normal-border !important;
        animation-name: none;
      }
    }
  }

  &-indeterminate {
    background-color: $normal-bg;
    border-color: $normal-border;

    &::after {
      transform: scale(1);
      margin: -4px 0 0 -4px;
      border: 0;
      left: 50%;
      top: 50%;
      width: 8px;
      height: 8px;
      background-color: $blue-7;
      opacity: 1;
    }
  }

  &-on {
    background-color: $blue-7;
    border-color: $blue-7;

    &::after {
      transform: rotate(45deg) scale(1);
      border: 2px solid $white;
      content: ' ';
      border-top: 0;
      border-left: 0;
      opacity: 1;
      margin: -5px 0 0 -2.5px;
      width: 5.8px;
      height: 9.2px;
    }
  }

  &-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    padding: 0 8px;

    &-disabled {
      color: $disabled-color;
    }
  }
}
