@import '../../style/config.scss';

$prefix: 'w-';

.#{$prefix}button-group {
  position: relative;
  display: inline-block;
  font-size: 0;

  & > .#{$prefix}button {
    position: relative;

    &:active,
    &:focus,
    &:hover {
      z-index: 2;
    }
  }

  & > .#{$prefix}button:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -1px;
  }

  & > .#{$prefix}button:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  & > .#{$prefix}button:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
  }
}
