@import '../../helper/config.scss';

// 表格边框颜色
$table-border-color: #eaeef5;
$table-extend-bg: #fbfbfb;
$td-hover-bg: #e6f7ff;
$th-hover-bg: #fafafa;
$th-sort-bg: #bfbfbf;
$th-hover-sort-bg: #f2f2f2;
$th-sorted-bg: #f5f5f5;

.w-table {
  width: 100%;
  min-width: auto;
  text-align: left;
  border-radius: 4px 4px 0 0;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0;
  display: table;
  border: none;

  &-tr {
    transition: all 0.3s, height 0s;
    border: none;

    &-border {
      border-bottom: 1px solid $table-border-color;
    }

    &:hover {
      & > .w-table-td {
        background: $td-hover-bg;
      }

      & > .w-table-th {
        background: $th-hover-bg;
      }
    }

    & > th.w-table-sorter:hover {
      background: $th-hover-sort-bg;
    }

    &-extend {
      border: none;

      & .w-table-border-top {
        border: none;
      }

      & .w-table-wrap {
        padding: 16px;
      }

      & .w-table {
        border-bottom: 1px solid $table-border-color;
      }

      & .w-table-border-top .w-table {
        border-top: none;
      }

      & > .w-table-td {
        background: $table-extend-bg;
        border: none;
        padding: 0;
      }

      & > .w-table-th {
        background: $table-extend-bg;
      }

      &:hover {
        background: none;

        & > .w-table-td {
          background: $table-extend-bg;
        }

        & > .w-table-th {
          background: $table-extend-bg;
        }
      }

      &-td {
        background: $table-extend-bg;

        &:hover {
          background: $table-extend-bg;
        }
      }
    } // w-table-extend
  } // w-table-tr

  &-td,
  &-th {
    padding: 16px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1;
    font-family: $family;
    color: $text-color-light;

    &-small {
      padding: 8px;
    }
  }

  &-td {
    border: none;
    transition: background 0.3s ease;
    font-weight: normal;

    &-hover {
      background: $td-hover-bg;

      &:hover {
        background: $td-hover-bg;
      }
    }
  }

  &-th {
    @extend .w-table-td;

    font-weight: 500;
    text-align: left;
    background: $th-hover-bg;
    position: relative;
    font-weight: bold;
  }

  &-sorter {
    padding-right: 30px;
  }

  &-sortered {
    background: $th-sorted-bg;
  }

  &-core {
    position: relative;

    &-border {
      border-top: 1px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;

      & .w-table-tr:last-child {
        border-bottom: none;

        & .w-table-border-td {
          border-bottom: none;
        }
      }
    }
  }

  &-scroll {
    overflow: auto;
  }

  &-sort {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 14px;
    height: 12px;
    margin-top: -6px;
    text-align: center;

    &-icon {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      left: 50%;
      margin-left: -4px;
    }

    &-up {
      border-width: 0 4px 4px;
      border-bottom-color: $th-sort-bg;
      top: 0;

      &.w-table-sort-on {
        border-bottom-color: $blue-6;
      }
    }

    &-down {
      border-width: 4px 4px 0;
      border-top-color: $th-sort-bg;
      bottom: 0;

      &.w-table-sort-on {
        border-top-color: $blue-6;
      }
    }
  } // w-table-sort

  &-empty {
    padding: 16px 0;
    margin: 0 !important;
    border-bottom: 1px solid $table-border-color;

    &-border {
      border-left: 1px solid $table-border-color;
      border-right: 1px solid $table-border-color;
    }
  }

  &-border {
    border-left: 1px solid $table-border-color;

    &-top {
      border-top: 1px solid $table-border-color;
    }

    &-th,
    &-td {
      border-right: 1px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
    }
  } // w-table-border

  &-sort {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 14px;
    height: 12px;
    margin-top: -6px;
    text-align: center;

    &-icon {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      left: 50%;
      margin-left: -4px;
    }

    &-up {
      border-width: 0 4px 4px;
      border-bottom-color: $th-sort-bg;
      top: 0;

      &.w-table-sort-on {
        border-bottom-color: $blue-6;
      }
    }

    &-down {
      border-width: 4px 4px 0;
      border-top-color: $th-sort-bg;
      bottom: 0;

      &.w-table-sort-on {
        border-top-color: $blue-6;
      }
    }
  } // w-table-sort

  &-fix {
    width: auto;
    background: #fff;

    &-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: hidden;
      border-radius: 0;
      transition: box-shadow 0.3s ease;
      background: #fff;
    }

    &-left {
      left: 0;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;

      &-shadow {
        box-shadow: 6px 0 6px -4px $shadow;
      }
      // 左边的滚动条
      & ::-webkit-scrollbar {
        display: none;
      }
    }

    &-right {
      right: 0;

      &-shadow {
        box-shadow: -6px 0 6px -4px $shadow;
      }
    }

    &-noop {
      visibility: hidden;
    }
  } // w-table-fixed

  &-header {
    padding: 16px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1;
    font-family: $family;
    color: $text-color;
    border-bottom: 1px solid $table-border-color;
    position: relative;

    &-small {
      padding: 8px;
    }

    &-border {
      border: 1px solid $table-border-color;
      border-bottom: none;
    }
  }

  &-footer {
    @extend .w-table-header;

    border-bottom: none;
    border-top: 1px solid $table-border-color;
    top: -1px;

    &-small {
      @extend .w-table-header-small;
    }

    &-border {
      border: 1px solid $table-border-color;
      background: $th-hover-bg;
      border-top: none;
      top: 0;
    }
  }
}
