$font-path: '../water/font/';

@import '../../style/config.scss';
@import '../../style/mixin/arrow.scss';
@import '../../icon/style/icon.scss';
@import '../../button/style/button.scss';

$move-time: 0.4s;

.w-page {
  font-size: 0;

  &-button {
    padding: 0 8px;
    min-width: 32px;
    margin-right: 8px;
    vertical-align: middle;

    &-sm {
      padding: 0 4px;
      min-width: 24px;
    }

    &-lg {
      padding: 0 16px;
      min-width: 40px;
    }

    &-group {
      display: inline-block;
    }
  }

  &-next,
  &-prev {
    &-sm {
      padding: 0 4px;
    }
  }

  &-over {
    color: $disabled-color;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 14px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    user-select: none;
    cursor: pointer;

    &::before {
      content: '•••';
      height: 32px;
      width: 32px;
      line-height: 32px;
      text-align: center;
      display: inline-block;
    }

    &-sm {
      width: 24px;
      height: 24px;
      font-size: 12px;

      &::before {
        height: 24px;
        width: 24px;
        line-height: 24px;
      }
    }

    &-next {
      &:hover {
        &::before,
        &::after {
          @extend .w-arrow;

          content: '';
          transition: none;
          transform: translateY(-50%) rotate(-45deg);
          border-color: $blue-6;
        }

        &::before {
          right: 12px;
        }

        &::after {
          right: 16px;
        }
      }

      &:active {
        &::before,
        &::after {
          border-color: $blue-7;
        }
      }

      &-sm {
        &:hover {
          &::before {
            right: 50%;
            margin-right: -4px;
          }

          &::after {
            right: 50%;
            margin-right: 1px;
          }
        }
      }
    } // w-page-over-next end

    &-prev {
      @extend .w-page-over-next;

      &:hover {
        &::before,
        &::after {
          transform: translateY(-50%) rotate(135deg);
        }
      }

      &-sm {
        &:hover {
          &::before {
            right: 50%;
            margin-right: -2px;
          }

          &::after {
            right: 50%;
            margin-right: -8px;
          }
        }
      }
    } // w-page-over-prev end
  } // .w-page-over end

  &-now {
    display: inline-block;
    vertical-align: middle;
    width: 34px !important;
    margin-right: 16px !important;
    text-align: center;
  }

  &-italic {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
  }

  &-total {
    @extend .w-page-italic;
  }

  &-simple {
    &-button {
      display: inline-block;
      vertical-align: middle;
      height: 24px;
      line-height: 24px;
      width: 24px;
      position: relative;
      text-align: center;

      &:hover {
        & .w-page-simple-arrow {
          border-color: $blue-6;
        }
      }

      &:active {
        & .w-page-simple-arrow {
          border-color: $blue-7;
        }
      }

      &-disabled {
        cursor: not-allowed;

        & .w-page-simple-arrow {
          border-color: $disabled-border;
        }

        &:hover {
          & .w-page-simple-arrow {
            border-color: $disabled-border;
          }
        }
      }
    }

    &-prev {
      margin-right: 16px;
    }

    &-arrow {
      @extend .w-arrow;

      display: inline-block;
      top: 50%;
      right: 50%;
      transition: border-color $move-time;

      &-prev {
        transform: translate(5px, -4px) rotate(135deg);
      }

      &-next {
        transform: translate(2px, -4px) rotate(-45deg);
      }
    }
  }

  &-text {
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    color: $text-color;
  }
}
