@import '../../style/config.scss';

.w-page-jumper {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;

  &-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    font-size: 14px;
  }

  &-input {
    @extend .w-page-jumper-text;

    width: 50px;
    margin: 0 8px;
    color: $text-color;
  }
}
