@import '../../style/config.scss';
@import '../../style/mixin/loading.scss';
@import '../../style/mixin/ellipsis.scss';
@import '../../style/mixin/close.scss';

$move-time: 0.4s;

.w-select {
  font-family: $family;
  font-size: 14px;
  font-variant: tabular-nums;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  background: $normal-bg;
  border-radius: 4px;
  border: 1px solid $normal-border;
  padding: 0 32px 0 12px;
  transition: border-color $move-time, line-height $move-time, padding $move-time;

  &-search {
    cursor: text;
  }

  &-single {
    height: 32px;
    line-height: 30px;

    &-search {
      width: 100%;
      height: 30px;
      padding: 0;
      border: none;
      display: block;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder { /* WebKit browsers */
        color: $select-search-placeholder;
      }

      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $select-search-placeholder;
      }

      &::-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $select-search-placeholder;
      }
    }
  }

  &-multiple {
    min-height: 32px;
    zoom: 1;
    padding: 0 8px;
    display: flex;

    &-lg {
      min-height: 38px;
    }

    &-sm {
      min-height: 24px;
    }
  }

  &-tag {
    @extend .w-select-multiple;

    &-lg {
      min-height: 38px;
    }

    &-sm {
      min-height: 24px;
    }
  }

  &-lg {
    line-height: 38px;
    height: 38px;
  }

  &-sm {
    line-height: 24px;
    height: 24px;
  }

  &-placeholder {
    @extend .w-ellipsis;

    position: absolute;
    top: 50%;
    left: 12px;
    right: 9px;
    color: #bfbfbf;
    line-height: 20px;
    height: 20px;
    max-width: 100%;
    margin-top: -10px;
  }

  &:hover {
    border: 1px solid $blue-6;
  }

  &-result {
    @extend .w-ellipsis;

    max-width: 100%;

    &-sm {
      line-height: 22px;
    }

    &-lg {
      line-height: 36px;
    }
  }

  &-arrow {
    width: 6px;
    height: 6px;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-6px) rotate(45deg);
    transition: transform $move-time;

    &-active {
      transform: translateY(-3px) rotate(-135deg);
    }

    &-disabled {
      border-right: 1px solid $disabled-border;
      border-bottom: 1px solid $disabled-border;
    }
  }

  &-loading {
    @extend .w-loading;

    &::before {
      width: 12px;
      height: 12px;
      top: 9px;
      right: 12px;
    }
  }

  &-more {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    display: flex;
    align-items: center;
    min-height: 30px;
    transition: line-height $move-time;

    &-lg {
      min-height: 36px;
    }

    &-sm {
      min-height: 20px;
    }

    &-item {
      color: $text-color;
      background-color: #fafafa;
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      cursor: default;
      max-width: 99%;
      position: relative;
      overflow: hidden;
      transition: padding $move-time cubic-bezier(0.645, 0.045, 0.355, 1), height $move-time cubic-bezier(0.645, 0.045, 0.355, 1), line-height $move-time cubic-bezier(0.645, 0.045, 0.355, 1), font-size $move-time cubic-bezier(0.645, 0.045, 0.355, 1);
      padding: 0 20px 0 10px;
      margin-right: 4px;
      height: 24px;
      line-height: 22px;
      display: inline-block;
      font-size: 14px;

      &-disabled {
        padding-right: 10px;
      }

      &-not {
        padding-right: 10px;
        color: $disabled-color;
        background: $disabled-bg-light;
      }

      &-lg {
        height: 28px;
        line-height: 28px;
        font-size: 16px;
      }

      &-sm {
        height: 14px;
        line-height: 14px;
        font-size: 12px;
      }
    }

    &-remove {
      @extend .w-close;

      width: 12px;
      height: 12px;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-7px);
      cursor: pointer;

      &::before,
      &::after {
        width: 2px;
        height: 12px;
      }

      &-lg {
        transform: translateY(-6px);
      }

      &-sm {
        transform: translateY(-6px);
      }
    }

    &-inline {
      @extend .w-select-more-item;

      background: none;
      padding: 0;
      border: none;
      width: 0.75em;
      margin: 3px 0 0;

      &-field {
        border: none;
        font-size: 100%;
        height: auto;
        width: 100%;
        background: transparent;
        outline: 0;
        border-radius: 4px;
        line-height: 1;
        color: $text-color;
      }
    }

    &-pre {
      position: absolute;
      top: 0;
      left: 0;
      display: inline;
      white-space: pre;
      pointer-events: none;
      opacity: 0;
      padding: 0 !important;
      margin: 0 !important;
      height: 100%;
    }
  } // .w-select-more end

  &-disabled {
    background: $disabled-bg-light;
    cursor: not-allowed;
    color: $disabled-color;

    &:hover {
      border-color: $normal-border;
    }
  } // .w-select-disabled end
}
