@import '../../helper/config.scss';
@import '../icon/icon.scss';

$link-font: ('': 12, '-large': 14);
$move-time: 0.5s;

.w-link {
  line-height: 1;
  cursor: pointer;
  color: $blue-6;
  font-family: $family;
  text-decoration: none;
  font-weight: normal;
  transition: opacity $move-time, padding-left $move-time;
  height: 14px;
  display: inline-block;
  font-size: 0;

  &:visited {
    color: $blue-6;
  }

  &:hover {
    color: $blue-5;
    text-decoration: none !important;
  }

  &:active {
    color: $blue-7;
  }

  // 循环尺寸
  @each $size, $value in $link-font {
    &#{$size} {
      & .w-link-text {
        font-size: $value + px;
      }

      & .w-link-icon,
      &.w-link-loading {
        & .w-icon,
        & img,
        & svg {
          width: $value + px;
          height: $value + px;
        }
      }
    }
  }

  &-text,
  &-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &-text {
    margin-left: 4px;
  }

  &-loading {
    opacity: 0.5;
    pointer-events: none;
    position: relative;

    &::before {
      width: 10px;
      height: 10px;
      top: 1px;
      left: 0;
      border-color: $blue-6;
    }
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;

    &:visited {
      color: $disabled-color;
    }
  
    &:hover {
      color: $disabled-color;
    }
  
    &:active {
      color: $disabled-color;
    }
  }
}
