@import '../../style/config.scss';
@import '../../checkbox/style/checkbox.scss';
@import '../../spin/style/spin.scss';
@import '../../page/style/page.scss';

.w-table {
  width: 100%;
  text-align: left;
  border-radius: 4px 4px 0 0;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0;
  display: table;
  border: none;

  &-tr {
    transition: all 0.3s, height 0s;
    border: none;
    border-bottom: 1px solid $table-border-color;

    &:hover {
      & > .w-table-td {
        background: $td-hover-bg;
      }

      & > .w-table-th {
        background: $th-hover-bg;
      }
    }

    & > th.w-table-sorter:hover {
      background: $th-hover-sort-bg;
    }

    &:nth-child(2n) {
      background: $normal-bg;
    }
  }

  &-td,
  &-th {
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: $family;
  }

  &-td {
    border: none;
    border-bottom: 1px solid $table-border-color;
    transition: background 0.3s ease;

    &-hover {
      background: $td-hover-bg;

      &:hover {
        background: $td-hover-bg;
      }
    }
  }

  &-th {
    @extend .w-table-td;

    color: $text-color;
    font-weight: 500;
    text-align: left;
    background: $th-hover-bg;
    position: relative;
  }

  &-sorter {
    padding-right: 30px;
  }

  &-sortered {
    background: $th-sorted-bg;
  }

  &-wrap {
    position: relative;
  }

  &-scroll {
    overflow: auto;
  }

  &-sort {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 14px;
    height: 12px;
    margin-top: -6px;
    text-align: center;

    &-icon {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      left: 50%;
      margin-left: -4px;
    }

    &-up {
      border-width: 0 4px 4px;
      border-bottom-color: $th-sort-bg;
      top: 0;

      &.w-table-sort-on {
        border-bottom-color: $blue-6;
      }
    }

    &-down {
      border-width: 4px 4px 0;
      border-top-color: $th-sort-bg;
      bottom: 0;

      &.w-table-sort-on {
        border-top-color: $blue-6;
      }
    }
  }

  &-empty {
    padding: 32px;
    border-bottom: 1px solid $table-border-color;

    &-text {
      line-height: 32px;
      text-align: center;
    }
  }

  &-expand {
    &:hover {
      background: none;

      & > .w-table-td {
        background: $table-expand-bg;
      }

      & > .w-table-th {
        background: $table-expand-bg;
      }
    }

    &-td {
      background: $table-expand-bg;

      &:hover {
        background: $table-expand-bg;
      }
    }

    &-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 14px;
      text-align: center;
      background: $normal-bg;
      border: 1px solid $table-border-color;
      cursor: pointer;
      user-select: none;
      font-style: normal;

      &::after {
        content: '+';
      }

      &-on {
        &::after {
          content: '-';
        }
      }
    }
  } // w-table-expand

  &-bordered {
    border-left: 1px solid $table-border-color;
    border-top: 1px solid $table-border-color;

    &-th,
    &-td {
      border-right: 1px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
    }
  } // w-table-bordered

  &-fix {
    width: auto;
    background: #fff;

    &-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: hidden;
      border-radius: 0;
      transition: box-shadow 0.3s ease;
    }

    &-left {
      left: 0;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;

      &-shadow {
        box-shadow: 6px 0 6px -4px $shadow;
      }
      // 左边的滚动条
      & ::-webkit-scrollbar {
        display: none;
      }
    }

    &-right {
      right: 0;

      &-shadow {
        box-shadow: -6px 0 6px -4px $shadow;
      }
    }

    &-noop {
      visibility: hidden;
    }
  } // w-table-fixed
}
